<ul class="h-menu">
  <li><a routerLink="/">Home</a></li>
  <li>
    <a href="#" class="dropdown-toggle">Examples</a>
    <ul class="d-menu" data-role="dropdown">
      <li><a routerLink="/example/datatable" routerLinkActive="active">datatable</a></li>
      <li><a class="dropdown-toggle">Material UI</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLink="/example/matmenu">Menu</a></li>
          <li><a href="#">Windows Server</a></li>
          <li class="divider"></li>
          <li><a href="#">MS-DOS</a></li>
        </ul>
      </li>
      <li><a routerLink="/example/metroui" routerLinkActive="active">metroui</a></li>
      <li><a routerLink="example/progress">Progress</a></li>
      <li class="divider"></li>
      <li><a routerLink="/example/aceeditor">Ace Editor</a></li>
      <li><a routerLink="/example/terminal">Terminal</a></li>
    </ul>
  </li>
  <li><a href="#">Support</a></li>
  <li><a href="#">Cart</a></li>
</ul>
